* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/cork.png);
}

header {
    background-image: url(../img/wall.png);
    height: 150px;
    text-align: center;
    align-content: center;
}

.main-title {
    font-size: 70px;
}